cores:

086788

07aoc3

f0c808

fff1d0

dd1c1a

https://www.designerd.com.br/sites-que-vao-te-ajudar-a-criar-paleta-de-cores-perfeita/
https://www.designerd.com.br/pokepalettes-uma-paletas-de-cores-para-fas-de-pokemon/
